/* BODY */
body {
    /* background: lightgrey; */
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 10px 25px 10px 0px;
    line-height: 30px;
}


/* PAGE SECTIONS */
main {
  background-color: lightgray;
  padding: 150px 10px 75px 10px;
}

#portfolio {
  background-color: darkcyan;
  padding: 75px;
  color: white;
}

#contact {
  background-color: lightgray;
  padding: 75px;
}


/* HEADERS */
h1 {
    color: lightseagreen;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0px 0px 0px;
}

h1.portfolio {
  color: white;
}


/* NAVIGATION */
.logo {
    position: fixed;
    float: left;
    margin: 16px 20px;
    font-weight: bold;
    font-size: 20px;
  }

  .logo a {
      text-decoration: none;
      color: white;
  }

  .logo a:visited {
      color: lightseagreen;
  }
  
  nav {
    position: fixed;
    width: 100%;
    
  }
  
  nav ul {
    list-style: none;
    background-color: white;
    /* opacity: 100%; */
    overflow: hidden;
    color: white;
    text-align: right;
    margin: 0;
    transition: 1s;
  }
  
  nav ul li {
    display: inline-block;
    padding: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: lightseagreen;
    font-size: 16px;
  }

  nav ul li a:hover {
    color: #376167;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
  
  .menu-icon {
    width: 100%;
    background: white;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: lightseagreen;
    font-size: 12px;
    display: none;
  }


/* IMAGES */
img {
  float: left;
  margin: 10px 25px 25px 0px;
}

.card-title {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: lightseagreen;
  opacity: 70%;
  color: white;
  padding: 10px;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


/* FOOTER */
footer {
    background: #666;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social {
    font-size: 24px;
    color: white; 
    text-decoration: none;
    
}

.social a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.social a:hover {
    color: lightseagreen;
}


/* MEDIA QUERIES */
@media(max-width: 580px) {
    /* Navigation Styles */
    .logo {
      position: fixed;
      top: 0;
      margin-top: 10px;
    }

    nav ul {
      max-height: 0px;
      background: lightseagreen;
    }

    .showing {
      max-height: 20em;
    }

    nav ul li {
      box-sizing: border-box;
      color: white;
      width: 100%;
      padding: 10px;
      text-align: center;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
      }
    
    .menu-icon {
      display: block;
    }
}